<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">CiaoSync</h1>
                <p  class="card-text">La seguridad es una prioridad en este sistema, ya que los datos sensibles se cifran utilizando el algoritmo AES-256 y se almacenan de manera segura en la base de datos. Además, la persistencia de datos se garantiza mediante volúmenes en contenedores Docker.</p>
                <p>Nuestra solución es altamente escalable y adaptable a las necesidades específicas de cada condominio. Los códigos QR son generados con información única para cada usuario y la integración con una base de datos centralizada permite un monitoreo completo de las entradas y salidas. En resumen, nuestra plataforma brinda un control de acceso moderno, ágil y seguro que mejorará la experiencia de los residentes y fortalecerá la seguridad en el condominio.</p>
            </div>
        </div>
    </div>
</div>