<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Acerca de QRGuard</h1>
                <p class="card-text">¡Bienvenidos a QRGuard, el innovador sistema de acceso a fraccionamientos que redefine la seguridad y comodidad para residentes y visitantes! Con QRGuard, hemos creado una solución moderna y eficiente que utiliza la tecnología de códigos QR para garantizar un acceso sin complicaciones y un entorno seguro en los fraccionamientos.</p>
                <p class="card-text">QRGuard es la solución perfecta para comunidades residenciales que buscan la combinación ideal de comodidad y seguridad. Ya sea que estés gestionando un fraccionamiento privado, un complejo residencial o un condominio, QRGuard se adapta a tus necesidades. Simplifica la gestión de accesos, mejora la experiencia de los residentes y visitantes, y dale a todos la tranquilidad que merecen.</p>
            </div>
        </div>
    </div>
</div>