<div class="jumbotron mt-4">
    <h1 class="display-4">[Contenido Editable]</h1>
    <p class="lead">"Cupidatat officia sint voluptate mollit deserunt reprehenderit eu minim eu. Duis non anim nulla reprehenderit. Voluptate ex mollit laborum deserunt ad deserunt cupidatat nulla enim cillum magna ullamco. Velit eiusmod magna aliquip reprehenderit non laboris commodo aliqua enim Lorem duis velit laborum. Adipisicing qui culpa est ea fugiat incididunt velit elit ex esse officia.</p>
    <hr class="my-4">
    <p> Lorem laborum reprehenderit ut exercitation anim ut consectetur fugiat mollit. Laborum nulla aliquip amet veniam do laborum ex id veniam. In ipsum non nostrud in elit dolor ex. Esse Lorem voluptate voluptate quis cillum eiusmod in eiusmod duis non non. Nisi sunt sit minim nisi et dolore esse minim quis occaecat magna do.</p>
    <a href="#" class="btn btn-primary">WhatsApp Administracion</a>
</div>
    
    