<div class="jumbotron mt-4">
    <h1 class="display-4">Fraccionamiento DEMO</h1>
    <p class="lead">Hemos creado un sistema en Node.js que utiliza códigos QR para revolucionar el control de acceso en condominios. A través de la generación y lectura de estos códigos, hemos diseñado una solución completa que simplifica la administración de la entrada y salida de residentes y visitantes.

Los residentes pueden crear códigos QR personalizados que contienen información clave, como sus nombres, vehículos y razones de visita. Estos códigos se escanean en los puntos de acceso, agilizando la autenticación y reduciendo las demoras.

La seguridad es primordial: empleamos el cifrado AES-256 para proteger los datos sensibles almacenados en la base de datos. </p>
    <hr class="my-4">
    <p> Además, garantizamos la persistencia de datos mediante contenedores Docker.

Nuestra solución es escalable y adaptable, ajustándose a las necesidades de cada condominio. Los códigos QR únicos y la base de datos centralizada permiten un monitoreo exhaustivo de las entradas y salidas. En resumen, ofrecemos un control de acceso moderno y seguro que mejorará la vida de los residentes y reforzará la seguridad del condominio.</p>
    <a href="http://wa.me/524423501149" target="_blank" class="btn btn-primary">WhatsApp Administracion</a>
</div>
    
    