<div class="jumbotron mt-4">
    <h1 class="display-4">QRA Node</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia fugit quis esse, praesentium beatae provident? Commodi enim veniam quia dolorum magnam! Eligendi magni accusantium sint commodi deleniti iure nam beatae.</p>
    <hr class="my-4">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vero, non aut explicabo ratione labore praesentium nihil. In, cumque, non alias nobis impedit voluptate molestias dolor neque laudantium id voluptatem?</p>
    <a href="#" class="btn btn-primary">Joel Montesanos</a>
</div>
    
    