<div class="jumbotron mt-4">
    <h1 class="display-4">QRGuard</h1>
    <p class="lead">"¡Bienvenidos a QRGuard, el innovador sistema de acceso a fraccionamientos que redefine la seguridad y comodidad para residentes y visitantes! Con QRGuard, hemos creado una solución moderna y eficiente que utiliza la tecnología de códigos QR para garantizar un acceso sin complicaciones y un entorno seguro en los fraccionamientos.</p>
    <hr class="my-4">
    <p> Únete a la revolución de seguridad con QRGuard y experimenta un nuevo nivel de acceso eficiente y protegido en los fraccionamientos. ¡Bienvenidos a un futuro donde la tecnología QR se convierte en tu guardián de confianza!"</p>
    <a href="#" class="btn btn-primary">Joel Montesanos</a>
</div>
    
    